<div *ngIf="animal$ | async as animal">
  <div class="container-detalhe-animal">
    <div>
      <app-animal [url]="animal.url" [descricao]="animal.description" ></app-animal>
    </div>
    <div>
      <small>
        <p>
          {{animal.description}}
          <i (click)="curtir()" class="fa fa-heart-o fa-2x mr-2 pull-left"> {{ animal.likes }}</i>
          <i class="fa fa-comment-o fa-2x mr-2 ml-2">{{ animal.comments }}</i>
          <i (click)="excluir()" class="fa fa-trash-o fa-2x pull-right"></i>
        </p>
      </small>
      <app-comentarios [id]="animalId" *ngIf="animal.allowComments; else warning"></app-comentarios>
    </div>

    <ng-template #warning>
      <p>Usuário não pode comentar o animal</p>
    </ng-template>
  </div>
</div>
